<% @post_categories.each do |post_category| %>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="col-md-12">
      <section>
        <p class="btn btn-search btn-block">
          <%= link_to post_category_path(post_category.id) do %>
            # <%= post_category.category %>
          <% end %>
        </p>
      </section>
    </div>
  </div>
<% end %>

