<!-- TOPページカテゴリ一覧表示パーシャル -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-search">
        <h2>Search</h2>
        <p><%= fa_icon("search") %> カテゴリ別にみる</p>
        <div class="category_index">
          <% @post_categories.each do |post_category| %>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="col-md-12">
                <section>
                  <%= link_to admins_post_category_path(post_category.id) do %>
                    <p class="btn btn-search btn-block">
                      # <%= post_category.category %>
                    </p>
                  <% end %>
                </section>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>