<div class="container">
  <div class="row">
    <h2>Mypage</h2>
    <p class="small-title">マイページ</p>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">基本情報</p>
      </div>
      <div class="mypage-data">
        <div class="col-md-5 col-md-offset-1">
          <div class="image">
            <p>写真</p>
          </div>
        </div>
        <div class="col-md-5">
          <p>名前</p>
          <p>メールアドレス</p>
          <p>自己紹介</p>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <%= link_to "編集 / その他設定", "#", class: "btn col-md-8 col-md-offset-2 btn-ellipse" %>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <p class="mypage">投稿</p>
      </div>

      <div class="col-md-12 main-favorite">
        <h2>Favorite</h2>
        <p><%= fa_icon("heart") %> お気に入りしたカテゴリ</p>
      </div>

      <div class="form col-md-4 col-md-offset-4">
        <%= form_with model: @post, url: "#", local: true do |f| %>
          <div class="form-group">
            <label for="control-label">お気に入りを追加</label>
            <%= select_tag :post_category_id, options_from_collection_for_select(PostCategory.all, :id, :category, params[:post_category_id]), {prompt: "選択", class: "js-searchable form-control", name: "post_category_id"} %>
          </div>
        <% end %>
      </div>

  </div>
</div>