<!-- マイページ ユーザー情報 -->

<div class="col-md-8 col-md-offset-2 user-info">
  <div class="col-md-5">
    <div class="user-image-box">
      <%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: "jpg", fallback: "/images/user-img.png", class: "img-responsive user-image" %>
    </div>
    <label class="info-username"><%= @user.name %></label>
  </div>
  <div class="col-md-7 introduction">
    <% if @user.introduction.present? %>
      <p><%= @user.introduction %></p>
    <% else %>
      <p>自己紹介文が登録されていません。</p>
    <% end %>
  </div>

  <div class="pull-right mypage-data-btn">
    <%= link_to "ユーザーを削除する", admins_user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-ellipse-red" %>
  </div>
</div>