<div class="main-visual">
</div>

<div class="about">
  <div class="container">

    <div class="row">
      <div class="col-md-12" >
        <h2>About</h2>
        <p>Cheerは、同じ志や目標を持ったひとたちが応援し合えるスペースです。</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" >
        <h2>How to</h2>

            <h4> #1 </h4>
            <p>
              小さなことでも、大きなことでも今頑張っていること、熱中していることを発信することができます。<br>
              目標達成までの過程や頑張った結果を発信することができます。
            </p>

            <h4> #2 </h4>
            <p>
              投稿の‘cheer’ ボタンを押して応援することができます。
            </p>

            <h4> #3 </h4>
            <p>
              これから何かに挑戦したいと思っていたら...<br>
              HOMEページの「ホットなカテゴリ」から今話題のものを閲覧することができます。<br>
              やりたいことがみつかったら、チャレンジしてみましょう！
            </p>

      </div>
    </div>

  </div>
</div>
