<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All posts</h2>

        <!-- @posts.each do |post| -->
          <div class="col-md-3 posts">
            <!-- attachment_image_tag post, :image, size: "240×180", format: "png" -->
            <label class="ellipse"># カテゴリ</label>
            <p>頑張りつぶやきをつぶやきます</p>
          </div>

    </div>
  </div>
</div>