<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All posts</h2>
      <p class="small-title">投稿一覧</p>

        <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="col-md-12 post-index">
              <section>

                <%= attachment_image_tag post, :image, size: "220x190", format: "png" %>
                <label class="post-category"><span># </span><%= post.post_category.category %></label>
                <p class="post-content"><%= post.post_content %></p>

                <label><i class="fa fa-comment"></i> 0 comment<br>
                <i class="fa fa-flag" style="color: #ff5752;"></i> 3 cheer</label>
                <p class="post-content">posted by <%= post.user.name %></p>
              </section>
            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>