<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 post">
      <h2>Post</h2>

        <div class="post-show">

          <!-- attachment_image_tag @post, :image, size: "280×280", format: 'jpg' -->
          <!-- 非同期で画像を表示させるなら、写真とカテゴリ、つぶやきは横並びにする -->

          <div class="category">
            <label for="control-label">カテゴリ</label>
          </div>

          <div class="content">
            <label for="control-label">頑張りつぶやき</label>
          </div>

        </div>

    </div>
  </div>
</div>