<div class="main">
  <div class="main-visual">
  </div>

  <div class="main-favorite">
    <h2>Favorite</h2>
    <p>お気に入りしたカテゴリ</p>
  </div>

  <div class="main-search">
    <h2>Search</h2>
    <p>カテゴリ別にみる</p>
  </div>

  <div class="main-pickup">
    <h2>Pick up</h2>
    <p>ホットなカテゴリ</p>
  </div>
</div>




