<h2>top</h2>

<div class="main-visual">
</div>

<div class="main">
  <div class="main-favorite">
    <h2>Favorite</h2>
  </div>

  <div class="main-search">
    <h2>Search</h2>
  </div>

  <div class="main-pickup">
    <h2>Pick up</h2>
  </div>

  <div class="main-cheer">
    <h2>A lot of Cheer</h2>
  </div>
</div>




