/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import "font-awesome";


/* 見出し */
h2{
  margin: 50px 0;
  padding: 3px  13px;
  border-left: solid 5px #76D9CD;
}


/* ボタン */
.btn-ellipse{
  border-radius: 25px;
  border: solid 1px #FFD600;
}

.btn-ellipse:hover{
  color: white;
  background-color: #FFD600;
  border: none;
}


/* ヘッダー */
nav ul{
  display: table;
  margin: 0 auto;
  padding-bottom: 8px;
  width: 50%;
  text-align: center;
}

nav li{
  display: table-cell;
  min-width: 50px;
}

.link{
  display: inline;
  width: 100%;
  text-decoration: none;
  color: #333333;
  padding-bottom: 5px;
}

nav li:hover{
  color: #333333;
  border-bottom: 5px solid #76D9CD;
}

/* 新規登録 ログイン */
.login, .sign_up{
  font-size: 12px;
}


