 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require select2
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import "font-awesome";


/* フォント */

body {
  font-family:
    "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    Osaka,
    "MS PGothic",
    sans-serif;
  color: #4a4a4a;
  line-height: 25px;
  font-size: 15px;
}


/* 見出し */

h2, h4{
  padding-top: 30px;
  text-align: center;
}

.small-title{
  text-align: center;
}


/* ボタン */

.btn-ellipse, .ellipse{
  border-radius: 25px;
  border: solid 2px #ffd600;
  padding: 10px;
  color: #ffd600;
  transition: all 0.6s ease 0s;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
}

.btn-ellipse:hover{
  color: #ffffff;
  background-color: #ffd600;
  border: none;
  display: inline-block;
  text-decoration: none !important;
}

.btn-ellipse-red{
  border-radius: 25px;
  border: solid 2px #ff5752;
  padding: 10px;
  color: #4a4a4a;
}

.btn-ellipse-red:hover{
  color: white;
  background-color: #ff5752;
  border: none;
}

.btn-search{
  margin-top: 30px;
  padding: 10px 0;
  border: solid 1px #76d9cd;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.btn-search:hover{
  color: #ffffff;
  background-color: #76d9cd;
  border: none;
}


/* フラッシュメッセージ */
  /* border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em; */

.flash_message{
  position: relative;
  font-size: 13px;
  padding: 7px 0;
  border: 1px solid #76d9cd;
  border-radius: 6em .7em 2em .7em/.7em 2em .7em 3em;
  margin-bottom: 20px;
  text-align: center;
  color: #76d9cd;
}

.flash_message::before,  /* 選択した要素の直前に内容を挿入 */
.flash_message::after{  /* 要素の直後に内容を挿入 */
  position: absolute;
  content: "";  /* 吹き出しの三角部分のためのcontent */
  top: 100%;  /* contentの挿入部分はtopから100%の箇所 */
  left: 30px;  /* contentの挿入部分はleftから30pxの箇所 */
  border: 7px solid transparent;  /* 吹き出しの三角部分用にflash_message borderを透明に*/
}

.flash_message::before{
  border-top: 10px solid #76d9cd;  /* 吹き出しの三角部分 */
}

.flash_message::after{
  margin-top: -2px;
  border-top: 10px solid #ffffff;  /* 吹き出しの三角部分の内側 設定しないと::beforeと同じ色 */
}


/* エラーメッセージ */

#error_explanation{
  font-size: 12px;
  color: #ff5752;
}


/* ヘッダー */

header{
  height: 130px;
}

.header-logo{
  position: absolute;
  left: 100px;
}

.logo{
  height: 130px;
  width: 160px;
}

nav ul{
  display: table;
  width: 50%;
  margin-left: 600px;
  padding-top: 70px;
}

nav li{
  text-align: center;
  display: table-cell;  /* 横並び */
  padding-bottom: 5px;
}

nav li:hover{
  border-bottom: 5px solid #76d9cd;
}

nav li.active{
  border-bottom: 5px solid #76d9cd;
}

.link{
  display: inline-block;
  text-decoration: none !important;   /* importantで下線が消える */
  color: #4a4a4a;
  font-size: 17px;
}


/* ログイン 新規登録 */
.sign{
  margin-top: 60px;
}

.sign-content{
  margin: 25px;
}

.sign_up a, .login a{
  color: #4a4a4a;
  font-size: 12px;
}


/* フッター */


.page-top-btn{
  margin-top: 100px;
  text-align: center;
}

.pagetop{
  height: 90px;
  width: 90px;
}

footer{
  height: 70px;
  width: 100%;
  color: #ffffff;
  background: #4a4a4a;
}

.footer-copyright{
  padding-top: 22px;
  text-align: center;
  font-size: 12px;
}




