// Place all the styles related to the post_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* カテゴリ show */

.post-content-body-category{
  height: 130px;
}

.post-content-body-cate-top{
  height: 80px;
  margin-bottom: 15px;
}

.post-content-body-cate-bottom{
  padding: 0 5px;
}


/* カテゴリ index */

.category-body{
  margin-top: 50px;
}

.category-label{
  margin: 10px 0;
}

.category-image-form{
  margin-top: 20px;
}

.category-btn{
  margin-top: 30px;
}


/* カテゴリ写真 */

#favimage:hover,
.postuser-image:hover{
  opacity: 0.8;
}