// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






/* TOP お気に入りカテゴリ*/

.main-favorite{
  width: 100%;
  text-align: center;
}

.favorite{
  margin: 15px 0 50px;
  text-align: center;
}

.favorite-login{
  margin: 60px 0;
}

.favorite-btn{
  margin-top: 30px;
}

.post-index-fav{
  padding: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px #76d9cd;
}


/* TOP ホットなカテゴリ*/

.main-pickup{
  width: 100%;
  text-align: center;
  background: #f4efe5;
}

.hot-category{
  margin-top: 30px;
  padding-bottom: 50px;
}

.post-index-hot{
  padding: 15px;
  margin: 30px 0;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* TOP カテゴリ一覧*/

.main-search{
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.category_index{
  margin: 40px 0;
}


/* aboutページ*/

.about{
  width: 100%;
  text-align: center;
}

.about-body{
  background: #f4efe5;
  margin: 25px 0 35px;
  padding-bottom: 80px;
}

.sub-title{
  margin: 20px 0;
}

.how{
  margin: 40px 25px 0;
  font-size: 13px;
}

.how-cheer{
  margin-top: 80px;
}

.how-img{
  height: 230px;
  width:  180px;
}


/* 投稿一覧,詳細,カテゴリ一覧 */

.post-user-link{
  border-bottom: solid 1px #4a4a4a;
}

.post-user-link:hover{
  border-bottom: solid 1px #76d9cd;
}


/* 投稿一覧,カテゴリ一覧 */

.post-index{
  margin: 5px 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.post-content-body{
  height: 130px;
}

.post-content-body-top{
  height: 105px;
}

.post-content-body-bottom{
  padding: 0 20px;
}

.post-content{
  padding-top: 5px;
  list-style: none;
  font-size: 13px;
  color: #4a4a4a;
}

.post_cheer{
  list-style: none;
  font-size: 13px;
  color: #4a4a4a;
  display: inline-block;
}

.comment-link{
  display: inline-block;
}

.post-arrow a{
  font-size: 12px;
  color: #4a4a4a;
  text-decoration: none;
}

.post-user{
  border-top: solid 1px #ddd;
  font-size: 12px;
}

.post-user p{
  padding: 5px 0;
  border-bottom: solid 1px #ddd;
}

.index-comment{
  font-size: 13px;
  color: #4a4a4a;
}


/* 投稿詳細 */

.post-category{
  margin-top: 10px;
  border-radius: 25px;
  border: solid 1px #ffd600;
  padding: 7px 12px;
  color: #ffd600;
}

.post-show-body{
  margin-top: 30px;
}

.post-show-content-text{
  padding: 10px 0;
  font-size: 14px;
  height: 145px;
}

.post-show-content{
  font-size: 13px;
}

.post-show-user{
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 10px 0 20px;
  font-size: 13px;
}

.postuser-image-box{
  padding: 10px;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  position: relative;
}

.postuser-image{
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 画像の中心 */
}


/* 新規投稿 */

.new-post{
  width: 100%;
  background-image: url("/images/post.jpg");
  background-size: cover;
  margin-top: 20px;
}

.bkRGBA{
  height: 100%;
  background: rgba(255,255,255,0.3);
}

.new-post-body{
  margin: 130px 0 270px;
}


/* 投稿編集 */

.edit-img{
  margin-top: 25px;
}

.edit-delete-btn{
  border-top: solid 1px #ddd;
  margin-top: 60px;
  padding-top: 15px;
  text-align: center;
}

.post-show-btn{
  margin-top: 40px;
}


/* リンク機能 */

a{
  text-decoration: none !important;
  color: #4a4a4a;
}

.post-show-user a,
.post-user a,
.comment-user a,
.nav-tabs a{
  color: #4a4a4a;
}

.comment-link a:hover,
.post-show-user a:hover,
.post-user a:hover,
.post-arrow a:hover,
.comment-user a:hover{
  color: #76d9cd;
}

