// Place all the styles related to the post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* コメント機能 */

#sending{
  margin: 3px 10px 10px;
}

#sending input{
  padding: 0;
}

.comment{
  list-style: none;
}

#comment-box{
  margin: 0 40px 70px 0;
  list-style: none;
}

.comment-form{
  margin: 20px 0;
}

#comment-form-text{
  border-radius: 30px;
}

.comment-text{
  position: relative;
  border-radius: 30px;
  background: #f4efe5;
  padding: 10px;
  font-size: 14px;
}

.comment-text::before{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 32px;
  top: -8px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f4efe5;
  border-left: 10px solid transparent;
}

.comment-text::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 32px;
  top: -8px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f4efe5;
  border-left: 10px solid transparent;
}

.commented{
  font-size: 12px;
  color: #76d9cd;
}

.comment-user{
  font-size: 12px;
  margin-bottom: 11px;
}

