// Place all the styles related to the post_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* カテゴリ show */

.category-body{
  margin-top: 40px;
}

.category-content{
  font-size: 13px;
  height: 100px;
}

.category-content-top{
  height: 80px;
}

.category-content-bottom{
  padding: 0 5px;
}


/* カテゴリ index */

.category-body{
  margin-top: 50px;
}

.category-label{
  margin: 10px 0;
}

.category-image-form{
  margin-top: 20px;
}

.category-btn{
  margin-top: 30px;
  text-align: center;
}


/* カテゴリ写真 */

#favimage:hover,
.postuser-image:hover{
  opacity: 0.7;
}