// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* swiper */

.swiper-container{
  height: 600px;
  width: 100%;
}

.swiper-slide{
  padding: 500px 80px 0 0;
  text-align: right;
  color: #fff;
  font-size: 30px;
}


/* TOPページ aboutページ*/

.hot-category{
  margin-top: 30px;
}

.favorite{
  margin-top: 5px;
}

.favorite-login{
  margin-top: 50px;
}

.main-pickup{
  height: 500px;
  width: 100%;
  text-align: center;
}

.main-favorite{
  height: 570px;
  width: 100%;
  text-align: center;
}

.favorite-btn{
margin-top: 30px;
}

.about{
  height: 600px;
  width: 100%;
  text-align: center;
}

.main-search{
  height: 420px;
  width: 100%;
  text-align: center;
  background: #f4efe5;
}

.how{
  margin: 50px 25px 0;
}

.how-cheer{
  margin-top: 85px;
}

.how-img{
  height: 230px;
  width:  180px;
}



/* 新規投稿 投稿一覧 詳細 */

.post-main{
  margin: 20px 0;
}


/* 投稿一覧 */

.post-index{
  margin: 30px 0;
}

.post-content-body{
  height: 165px;
}

.post-content-body-top{
  height: 120px;
  margin-bottom: 15px;
}

.post-content-body-bottom{
  padding: 0 20px;
}

.post-category{
  margin-top: 10px;
  border-radius: 25px;
  border: solid 1px #ffd600;
  padding: 7px 12px;
  color: #ffd600;
}

.post-content{
  padding-top: 10px;
  list-style: none;
  font-size: 13px;
  color: #4a4a4a;
}

.post_cheer{
  list-style: none;
  font-size: 13px;
  color: #4a4a4a;
}

.post-arrow a{
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
}

.post-user{
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
  font-size: 12px;
}


/* 投稿詳細 */

.post-show-body{
  margin-top: 30px;
}

.post-show-content-text{
  padding: 10px 0;
  font-size: 14px;
}

.post-show-content{
  font-size: 13px;
}

.post-show-user{
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 10px 0 20px;
  font-size: 13px;
}

.btn-ellipse a{
  color: #ffd600;
}

.btn-ellipse:hover a{
  color: #ffffff;
}

.postuser-image-box{
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;   /* 30×30以上は切り取り */
  border-radius: 30px;
}

.postuser-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 画像の中心 */
  border-radius: 120px;
}


/* 投稿編集 */

.edit-body, .edit-img{
  margin-top: 25px;
}

.edit-delete-btn{
  margin-top: 60px;
}

.post-show-btn{
  margin-top: 40px;
}


/* link機能 */

a{
  text-decoration: none !important;
  color: #4a4a4a;
}

.post-show-user a,
.post-user a,
.comment-user a{
  color: #4a4a4a;
}

.post-show-user a:hover,
.post-user a:hover,
.post-content a:hover,
.post-arrow a:hover,
.comment-user a:hover{
  color: #76d9cd;
}

