// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/* マイページ ユーザー情報 */

.user-info{
  margin-top: 20px;
}

.user-image-box{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;   /* 200×200以上は切り取り */
  border-radius: 200px;
}

.user-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 画像の中心 */
  border-radius: 120px;
}

.info-username{
  padding-top: 20px;
}

.introduction{
  padding: 20px;
  font-size: 13px;
  background: #f4efe5;
}

.mypage-data-btn{
  margin: 20px 0;
}


/* ユーザー編集 */

.mypage {
  padding: 8px 16px;
  margin: 30px 0;
  color: #4a4a4a;
  background: #f4efe5;
}

.user-image-btn{
  margin-top: 20px;
}


/* タブコンテンツ */

.tab-content{
  margin-top: 30px;
}

.mypage-tab{
  margin: 40px;
}


/* マイページ 投稿一覧 */

.post-index-maypage,
.back-btn{
  margin: 30px 0;
}

.post-user-myoage{
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  margin-bottom:9px;
  font-size: 12px;
  padding: 5px 0;
}

.no-post p{
  text-align: center;
  font-size: 14px;
  color: #999999;
  padding: 40px;
}


/* マイページ fav カテゴリ */

.mypage-form{
  padding: 60px;
  border-radius: 150px;
  background: #f4efe5;
}


/* チャート */

.chart{
  margin: 80px;
  text-align: center;
  font-size: 13px;
}
