// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* マイページ */

.info{
  margin: 20px 0 100px;
  padding: 60px 0 80px;
  width: 100%;
  background-image: url("/images/desk.jpeg");
  background-size: cover;
  background-position: center center;
}

.mypage-data{
  width: 100%;
  margin-bottom: 50px;
  font-size: 13px;
}

.user-image-box{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;   /* 300×300以上は切り取り */
  border-radius: 200px;
}

.user-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* 画像の中心 */
  border-radius: 120px;
}

.user-image-btn{
  margin-top: 20px;
}

.tab-content{
  margin-top: 60px;
}

.mypage-data-btn{
  margin: 20px 0;
}

.search{
  margin: 20px 0;
}

.post-index-maypage{
  margin: 30px 0;
}

.post-content-body-mypage{
  height: 190px;
}

.post-content-body-mypage-top{
  height: 150px;
  margin-bottom: 10px;
}

.mypage-form{
  margin-top: 50px;
}

.mypage-tab{
  margin: 40px;
}

