<!-- フラッシュメッセージパーシャル -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-2 col-md-offset-1 col-xs-6 col-xs-offset-1">
      <p class="flash_message"><%= flash[:notice] %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.flash_message').fadeIn(500);
  $('.flash_message').fadeOut(5000);

  // cssを適用させるためにフラッシュメッセージがあるか判定
  if ($('.flash_message').html() !== '') {
    $('.flash_message').css('display', 'block');
  }else{
    $('.flash_message').css('display', 'none');
  }
});
</script>
