<footer>
  <div class="page-top-btn">
    <a href="#wrap">
      <%= fa_icon("angle-double-up") %>
    </a>
    <p>Page Top</p>
  </div>
  <div class="footer-copyright">
    © Company 2019 . All Rights Reserved.<br>
  </div>
</footer>