<script type="text/javascript">
// フッター
$(function() {
  var pagetop = $(".pagetop");
  pagetop.click(function () {
    $("html").animate({ scrollTop: 0 }, 800);
  });
});
</script>


<div class="page-top-btn">
<%= image_tag "/images/top.png", class: "pagetop" %>
</div>
<footer>
  <div class="footer-copyright">
    Copyright © 2019 cheer. All rights reserved.
  </div>
</footer>
