<footer>
  <div class="page-top-btn">
    <%= image_tag "/images/top.png", class: "pagetop" %>
  </div>
  <div class="footer-copyright">
    © Company 2019 . All Rights Reserved.<br>
  </div>
</footer>