<div class="row search">
  <div class="col-md-10 col-md-offset-1">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <%= search_form_for @search, url: admins_users_path do |f| %>
          <!-- 検索値を含むレコードを検索 -->
          <%= f.search_field :name_cont, class: "form-control", placeholder: "入力" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </form>
  </div>
</div>