<script type="text/javascript">
  var swiper;
  $(window).load(function() {
    swiper = new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
    },
    loop: true, // 最後のスライドに到達後も続けてスライド
    speed: 2000, // スライドが切り替わる時間
    effect: 'fade',

    autoplay: {
      delay: 3000, // スライドの表示時間
      stopOnLast: false, // 最後のスライドまで表示されたら自動再生を中止するか
    },

    });
  });
</script>


<div class="swiper-container">
  <div class="swiper-wrapper">

    <div class="swiper-slide" style="background-image: url(/images/run.jpeg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-5"># ランニングはじめました</div>
    </div>

    <div class="swiper-slide" style="background-image: url(/images/camera.jpeg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-1"># カメラ勉強中</div>
    </div>

    <div class="swiper-slide" style="background-image: url(/images/program.jpg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-7"># プログラミング勉強中</div>
    </div>

    <div class="swiper-slide" style="background-image: url(/images/learning.jpg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-4"># 語学勉強中</div>
    </div>

    <div class="swiper-slide" style="background-image: url(/images/bouldering.jpg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-2"># ボルダリング初心者</div>
    </div>

    <div class="swiper-slide" style="background-image: url(/images/reading.jpg);
      background-repeat: no-repeat;
      width: 1261px;
      background-size: cover;
      background-position: center center;">
      <div class="swiper-slide-content swiper-slide-content-3"># 読書挑戦中</div>
    </div>

  </div>
  <div class="swiper-pagination swiper-pagination-white" ></div>
</div>
